body {
    font-size: 12px;
}

h2 {
    color: #8E44AD;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: #BB8FCE;
    size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}